<div class='container'>
  <h1>Posts tagged with <%= @tag.name %></h1>

  <% @tag.posts.in_groups_of(3, false).each do |post_triplets| %>
    <div class="row">
      <%= render post_triplets %>
    </div>
  <% end %>
</div>