<h1>Order Successful</h1>
<p>You've successfully ordered a <%= @order.post.title %></p>
<%= link_to image_tag(@order.post.image.url(:thumb)), posts_url %>

<!-- for development, define local host 3000 -->
<!-- <%= # link_to image_tag(@order.post.image.url(:thumb)), posts_url(host: 'localhost:3000') %> -->
