<!-- Main jumbotron for a primary marketing message or call to action -->
<% unless user_signed_in? %>
  <div class="jumbotron">
    <div class="container">
      <h1>Welcome to InstaClone</h1>
      <p>This is obviously not a copy of Instagram in any way, shape or form.</p>
      <p>
        <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary btn-lg' %>
      </p>
    </div>
  </div>
<% end %>

<div class='container'>
  <% if @posts.any? %>
    <% @posts.in_groups_of(3, false).each do |post_triplets| %>
      <div class="row">
        <%= render post_triplets %>
      </div>
    <% end %>
  <% else %>
    No posts yet!
  <% end %>
</div>