<p><%= link_to "Add post", new_post_path %></p>

<% if @posts.any? %>
  <% @posts.each do |post| %>
    

    <% if post.image.present? %>
      <%= image_tag post.image.url(:thumb), class: "uploaded-pic" %>
    <% end %>

    <p><%= post.title %>:</p>
    <p><%= post.description %></p>
  <% end %>

<% else %>
  No posts yet!
<% end %>


