<% if user_signed_in? %>
  <p><%= link_to "Add post", new_post_path %></p>
<% end %>

<% if @posts.any? %>
  <% @posts.each do |post| %>
    

    <% if post.image.present? %>
      <%= image_tag post.image.url(:thumb), class: "uploaded-pic" %>
    <% end %>

    <h3><%= post.title %></h3>
    <p><%= post.description %></p>
  <% end %>

<% else %>
  No posts yet!
<% end %>


